<section class="new-music" data-ng-controller="NewTuesdayPlaylistController">

  <div class="jumbotron text-center">
    <h2>Never lose a playlist again!</h1>
      <p>Browse any archived playlist before saving to your account</p>
      <div data-ng-hide="{{user}}">
        <h5>Sign in below to save a playlist</h5>
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="/auth/spotify" class="undecorated-link">
              <img src="/modules/users/img/buttons/spotify.png">
            </a>
          </div>
        </div>
      </div>
  </div>

  <accordion close-others="oneAtATime">
    <accordion-group data-ng-repeat="playlist in data | limitTo:1">
      <accordion-heading>
        {{playlist.title}} <i class="pull-right fa fa-cloud-download" title="save playlist" data-ng-class="{'saved': saved[playlist.title]}" data-ng-show="{{user}}" data-ng-click="onSavePlaylist(playlist.title, playlist.tracks, $event)"></i>
      </accordion-heading>
      <div class="list-group">
        <data-ng-include src="getTrackTemplate(track)" data-ng-repeat="track in playlist.tracks"></data-ng-include>
      </div>
    </accordion-group>
  </accordion>

</section>
