html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding-bottom: 6rem;
  background-color: #2e2f33;
}
footer {
  position: absolute;
  border-top: 1px solid #eee;
  margin: 20px 0 10px 0;
  padding-top: 5px;
  color: #9d9d9d;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.accordion-toggle {
  cursor: pointer;
  color: #84bd00;
}
.new-music h1 {
  color: #fff;
}
.new-music well {
  color: #fff;
}
.fa-play-circle-o {
  color: #84bd00;
}
.fa-cog {
  line-height:90px;
}
.fa {
  cursor: pointer;
}
.saved, .loading {
  color: #84bd00;
}
.announcement {
  color: #cc0000;
}
