<mat-toolbar color="primary" fxLayout="row" fxLayoutGap="8px">
    <a mat-icon-button *ngFor="let item of menuItems" href="{{item.link}}" target="_blank" [fxShow]="item.showOnDesktop"
        [fxShow.xs]="item.showOnMobile" [fxShow.sm]="item.showOnTablet">
        <fa-icon [icon]=item.icon></fa-icon>
    </a>
    <div></div>
    <span fxFlex>Spotify Unchained</span>
    <button mat-button *ngIf=!isLoggedIn() (click)='login()'>
        <span class="mat-h2">Sign in</span>
    </button>
    <button mat-button *ngIf="isLoggedIn()" (click)='logout()'>
        <span *ngIf="(getUser() | async) as user" class="mat-h3">
            {{user.display_name}}
        </span>
        <span class="mat-h4">(sign out)</span>
    </button>
    <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs fxShow.sm>
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <div [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet" [fxShow.xs]="!item.showOnMobile">
                    <a href="{{item.link}}" target="_blank">
                        <button mat-menu-item>
                            <fa-icon [icon]=item.icon></fa-icon>
                            {{item.label}}
                        </button>
                    </a>
                </div>
            </ng-container>
        </mat-menu>
    </ng-container>
</mat-toolbar>