<mat-toolbar fxLayout="row" fxLayoutGap="8px">
    <a *ngFor="let item of menuItems" href="{{item.link}}" target="_blank" [fxShow]="item.showOnDesktop"
        [fxShow.xs]="item.showOnMobile" [fxShow.sm]="item.showOnTablet">
        <fa-icon [icon]=item.icon></fa-icon>
    </a>
    <span fxFlex fxLayoutAlign="center center">Spotify Unchained</span>
    <a>
        Sign in
    </a>
    <ng-container>
        <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs fxShow.sm>
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #dropMenu="matMenu">
            <ng-container *ngFor="let item of menuItems">
                <div [fxShow]="!item.showOnDesktop" [fxShow.sm]="!item.showOnTablet" [fxShow.xs]="!item.showOnMobile">

                    <a href="{{item.link}}" target="_blank">
                        <button mat-menu-item>
                            <fa-icon [icon]=item.icon></fa-icon>
                            {{item.label}}
                        </button>
                    </a>
                </div>

            </ng-container>
        </mat-menu>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
            </button>
        </mat-menu>
    </ng-container>
</mat-toolbar>