<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{playlist.title}}
        </mat-panel-title>
        <mat-icon (click)="savePlaylist()" matTooltip="Save playlist to your Spotify account">cloud_download</mat-icon>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        <div class="element-detail">
            <app-track *ngFor="let track of playlist.tracks" [track]="track">
            </app-track>
        </div>
    </ng-template>

</mat-expansion-panel>