<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{playlist.title}}
        </mat-panel-title>
        <mat-icon *ngIf="(userHasPlaylist() | async) === false; else saved" (click)="savePlaylist()"
            matTooltip="Save playlist to your Spotify account">cloud_download</mat-icon>
        <ng-template #saved>
            <mat-icon class="saved" matTooltip="This playlist is saved to your Spotify account">cloud_download
            </mat-icon>
        </ng-template>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        <div fxLayout="row wrap" fxLayoutAlign="center">
            <app-track *ngFor="let track of playlist.tracks" [track]="track">
            </app-track>
        </div>
    </ng-template>

</mat-expansion-panel>